<?xml version="1.0"?>

<app version="1.4">
  <mainWindow>
    <ribbon>
      <tab     name="Home">
        <group name="Page">
          <button       label="Sitecore Client"                                     largeImage="/Images/$lg/Sitecore.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore">
            <button     label="Front-end Site"                                      largeImage="/Images/$sm/earth2.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Sitecore Login"                                      largeImage="/Images/$sm/log_out.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/login" />
            <separator />
            <button     label="Sitecore Desktop"                                    largeImage="/Images/$sm/Windows Table.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/shell" />
            <separator />
            <button     label="Content Editor"                                      largeImage="/Images/$sm/Pencil.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/shell/applications/content%20editor"/>
            <button     label="Page Editor"                                         largeImage="/Images/$sm/Paint.png, SIM.Tool.Windows"                       type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/?sc_mode=edit"/>
            <button     label="Launch Pad"                                          largeImage="/Images/$sm/startpage.png, SIM.Tool.Windows"                   type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore/client/Applications/Launch%20Pad"/>
            <separator />
            <button     label="Google Chrome"                                       largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:chrome"/>
            <button     label="Google Chrome (Incognito)"                           largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:chrome:/incognito"/>
            <button     label="Mozilla Firefox"                                     largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:firefox"/>
            <button     label="Mozilla Firefox (Private)"                           largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:firefox:-private-window"/>
            <button     label="Internet Explorer"                                   largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                          type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:iexplore"/>
            <button     label="Internet Explorer (Private)"                         largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:iexplore:-private"/>
            <button     label="Apple Safari"                                        largeImage="/Images/$lg/safari.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore:safari"/>
          </button>
          <button       label="Log in admin"                                        largeImage="/Images/$lg/log_in.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/">
            <button     label="Sitecore Desktop"                                    largeImage="/Images/$sm/Windows Table.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/shell"/>
            <separator />
            <button     label="Content Editor"                                      largeImage="/Images/$sm/Pencil.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/shell/applications/content%20editor"/>
            <button     label="Page Editor"                                         largeImage="/Images/$sm/Paint.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/?sc_mode=edit"/>
            <button     label="Launch Pad"                                          largeImage="/Images/$sm/startpage.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore/client/Applications/Launch%20Pad"/>
            <separator />
            <button     label="Google Chrome"                                       largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome"/>
            <button     label="Google Chrome (Incognito)"                           largeImage="/Images/$lg/chrome.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome:/incognito"/>
            <button     label="Mozilla Firefox"                                     largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox"/>
            <button     label="Mozilla Firefox (Private)"                           largeImage="/Images/$lg/firefox.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox:-private-window"/>
            <button     label="Internet Explorer"                                   largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore"/>
            <button     label="Internet Explorer (Private)"                         largeImage="/Images/$lg/ie.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore:-private"/>
            <button     label="Apple Safari"                                        largeImage="/Images/$lg/safari.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:safari"/>
            <separator />
            <button     label="Copy URL"                                            largeImage="/Images/$lg/astrologer.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="$(clipboard)"/>
          </button>
        </group>
        <group name="File System">
          <button       label="Website Folder"                                      largeImage="/Images/$lg/folder_open.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)">
            <button     label="Root Folder"                                         largeImage="/Images/$sm/folder_network.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(root)"/>
            <separator />
            <button     label="Website Folder"                                      largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)"/>
            <button     label="Data Folder"                                         largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(data)"/>
            <button     label="Databases Folder"                                    largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(root)/Databases"/>
            <separator />
            <button     label="App_Config Folder"                                   largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)/App_Config"/>
            <button     label="Include Folder"                                      largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)/App_Config/Include"/>
            <button     label="Prefetch Folder"                                     largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)/App_Config/Prefetch"/>
            <button     label="Security Folder"                                     largeImage="/Images/$sm/folder_open.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)/App_Config/Security"/>
            <separator />
            <button     label="Indexes Folder"                                      largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(indexes)"/>
            <button     label="Packages Folder"                                     largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(packages)"/>
            <button     label="Serialization Folder"                                largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(serialization)"/>
            <button     label="Diagnostics Folder"                                  largeImage="/Images/$sm/folders.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(data)/diagnostics"/>
          </button>
          <button       label="Config Files"                                        largeImage="/Images/$lg/copy.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows">
            <button     label="web.config"                                          largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows" />
            <separator />
            <button     label="ConnectionStrings.config"                            largeImage="/Images/$sm/data_copy.png, SIM.Tool.Windows"                   type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/ConnectionStrings.config" />
            <button     label="DataFolder.config"                                   largeImage="/Images/$sm/data_copy.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/DataFolder.config" />
            <button     label="Global.asax"                                         largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"   param="/Global.asax" />
            <separator />
            <button     label="Sitecore.Analytics.config"                           largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.Analytics.config" />
            <separator />
            <button     label="Sitecore.ContentSearch.config"                       largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.ContentSearch.config" />
            <button     label="Sitecore.ContentSearch.DefaultConfigurations.config" largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.ContentSearch.DefaultConfigurations.config" />
            <button     label="Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config" largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"   type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.ContentSearch.Lucene.DefaultIndexConfiguration.config" />
            <button     label="Sitecore.ContentSearch.Lucene.Index.Core.config"     largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Core.config" />
            <button     label="Sitecore.ContentSearch.Lucene.Index.Master.config"   largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Master.config" />
            <button     label="Sitecore.ContentSearch.Lucene.Index.Web.config"      largeImage="/Images/$sm/document_text.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenFileButton, SIM.Tool.Windows"       param="/App_Config/Include/Sitecore.ContentSearch.Lucene.Index.Web.config" />
            <separator />
            <button     label="Showconfig.xml"                                      largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/showconfig" />
            <button     label="Showconfig.xml (normalized)"                         largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"        type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/showconfig /normalized" />
            <button     label="web.config.result.xml"                               largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/webconfigresult" />
            <button     label="web.config.result.xml (normalized)"                  largeImage="/Images/$sm/document_gear.png, SIM.Tool.Windows"       type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows"  param="/webconfigresult /normalized" />
          </button>
          <button       label="Log Files"                                           largeImage="/Images/$lg/history2.png, SIM.Tool.Windows">
            <button     label="Current Log file"                                    largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Current 'log' Log file"                              largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="log" />
            <button     label="Current 'Crawling.log' Log file"                     largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Crawling.log" />
            <button     label="Current 'Search.log' Log file"                       largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Search.log" />
            <button     label="Current 'Publishing.log' Log file"                   largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Publishing.log" />
            <button     label="Current 'Fxm.log' Log file"                          largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="Fxm.log" />
            <button     label="Current 'WebDAV.log' Log file"                       largeImage="/Images/$sm/console.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" param="WebDAV.log" />
            <separator />
            <button     label="Entire Log files"                                    largeImage="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
          </button>
        </group>
        <group name="Tools">
          <button       label="App State"                                           largeImage="/Images/$lg/gearwheels.png, SIM.Tool.Windows">
            <button     label="Start Site&amp;Pool"                                               largeImage="/Images/$sm/media_play.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="start" />
            <button     label="Stop Site&amp;Pool"                                                largeImage="/Images/$sm/media_stop.png, SIM.Tool.Windows"                  type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="stop" />
            <separator />
            <button     label="Recycle Site&amp;Pool"                                             largeImage="/Images/$sm/garbage.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="recycle" />
            <button     label="Kill process"                                        largeImage="/Images/$sm/cpu.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="kill" />
            <separator />
            <button     label="Change mode"                                         largeImage="/Images/$sm/cpu.png, SIM.Tool.Windows"                         type="SIM.Tool.Windows.MainWindowComponents.ControlAppPoolButton, SIM.Tool.Windows" param="mode" />
            <separator />
            <button     label="Recycle All But This"                                largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.RecycleAllButThisButton, SIM.Tool.Windows" />
            <button     label="Kill All w3wp But This"                              largeImage="/Images/$sm/data.png, SIM.Tool.Windows"                        type="SIM.Tool.Windows.MainWindowComponents.KillAllButThisButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Attach debugger to process"                          largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.AttachDebuggerButton, SIM.Tool.Windows" />
            <button     label="Collect Memory Dump with MGAD"                       largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.CollectMemoryDumpButton, SIM.Tool.Windows" />
            <button     label="Trace method call with MAT"                          largeImage="/Images/$lg/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.ManagedArgsTracerButton, SIM.Tool.Windows" />
          </button>
          <button       label="Bundled Tools"                                       largeImage="/Images/$lg/toolbox.png, SIM.Tool.Windows">
            <button       label="Refresh sites"                                     largeImage="/Images/$sm/refresh.png, SIM.Tool.Windows"                    type="SIM.Tool.Windows.MainWindowComponents.RefreshButton, SIM.Tool.Windows"        param="sites"/>
            <button     label="Settings"                                            largeImage="/Images/$sm/wrench.png, SIM.Tool.Windows"                     type="SIM.Tool.Windows.MainWindowComponents.SettingsButton, SIM.Tool.Windows" />
            <button     label="SIM Logs"                                            largeImage="/Images/$sm/folder_document2.png, SIM.Tool.Windows"            type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="%APPDATA%\Sitecore\Sitecore Instance Manager\Logs" />
            <button     label="SIM Data Folder"                                     largeImage="/Images/$sm/folder_window.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="%APPDATA%\Sitecore\Sitecore Instance Manager" />
            <separator />
            <button     label="Hosts Editor"                                        largeImage="/Images/$sm/modem_earth.png, SIM.Tool.Windows"                 type="SIM.Tool.Windows.MainWindowComponents.OpenHostsButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Update Licenses"                                     largeImage="/Images/$lg/scroll_refresh.png, SIM.Tool.Windows"              type="SIM.Tool.Windows.MainWindowComponents.UpdateLicenseButton, SIM.Tool.Windows" />
            <separator />
            <button     label="Log Analyzer"                                        largeImage="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"               type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
            <button     label="SSPG"                                                largeImage="/Images/$lg/package_edit.png, SIM.Tool.Windows"                type="SIM.Tool.Windows.MainWindowComponents.OpenSSPGButton, SIM.Tool.Windows" />
            <button     label="Config Builder"                                      largeImage="/Images/$sm/wrench.png, SIM.Tool.Windows"                      type="SIM.Tool.Windows.MainWindowComponents.ConfigBuilderButton, SIM.Tool.Windows" />
          </button>
        </group>
      </tab>
    </ribbon>
    <contextMenu>
      <item   header="Browse Sitecore Website"                  image="/Images/$sm/earth2.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows" />
      <item   header="Browse Sitecore Client"                   image="/Images/$sm/Sitecore.png, SIM.Tool.Windows"                                            type="SIM.Tool.Windows.MainWindowComponents.BrowseButton, SIM.Tool.Windows"         param="/sitecore" />
      <item   header="Log in admin"                             image="/Images/$sm/log_in.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore">
        <item header="Google Chrome"                            image="/Images/$lg/chrome.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:chrome"/>
        <item header="Mozilla Firefox"                          image="/Images/$lg/firefox.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:firefox"/>
        <item header="Internet Explorer"                        image="/Images/$lg/ie.png, SIM.Tool.Windows"                                                  type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:iexplore"/>
        <item header="Apple Safari"                             image="/Images/$lg/safari.png, SIM.Tool.Windows"                                              type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="/sitecore:safari"/>
        <separator/>
        <item header="Copy URL"                                 image="/Images/$lg/astrologer.png, SIM.Tool.Windows"                                           type="SIM.Tool.Windows.MainWindowComponents.LoginAdminButton, SIM.Tool.Windows"     param="$(clipboard)"/>
      </item>
      <item   header="Open Folder"                              image="/Images/$sm/folder_open.png, SIM.Tool.Windows"                                         type="SIM.Tool.Windows.MainWindowComponents.OpenFolderButton, SIM.Tool.Windows"     param="$(website)"/>
      <separator />
      <item   header="Analyze log files"                        image="/Images/$lg/zoom_vertical.png, SIM.Tool.Windows"                                       type="SIM.Tool.Windows.MainWindowComponents.OpenLogsButton, SIM.Tool.Windows" />
      <item   header="Open log file"                            image="/Images/$sm/console.png, SIM.Tool.Windows"                                             type="SIM.Tool.Windows.MainWindowComponents.OpenCurrentLogButton, SIM.Tool.Windows" />
      <item   header="Open web.config file"                     image="/Images/$sm/document_text.png, SIM.Tool.Windows"                                       type="SIM.Tool.Windows.MainWindowComponents.OpenWebConfigButton, SIM.Tool.Windows" />
      <separator />
    </contextMenu>
  </mainWindow>
</app>